:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #a5a8ad;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #2c2c2c;
  --color-ivory: #f8eec6;
  --color-light-ivory: #f8f8e9;
  --color-light-green: #65c19c;

  /* Font size */
  --font-x_large: 5.8rem;
  --font-large: 4.8rem;
  --font-medium: 2.8rem;
  --font-regular: 1.8rem;
  --font-small: 1.6rem;
  --font-micro: 1.4rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 0.4rem;

  /* Animation*/
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: default;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 1.6rem 0;
}

h2 {
  font-size: 4rem;
  font-weight: var(--weight-semi-bold);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 0;
}

p {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 0.5rem 0;
}

article {
  max-width: 100rem;
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
}

.section__title {
  display: table;
  padding: 4rem 0 2rem;
  margin: 0 auto;
  text-align: center;
}

/* header */
#header {
  position: fixed;
  border-bottom: 0.1rem solid #ddd;
  background-color: var(--color-white);
  width: 100%;
  /* height: 10rem; */
  z-index: 1;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  padding: 0.8rem 1.2rem;
  margin: 0 auto;
}

.header__menu {
  display: flex;
}

.header__item {
  padding: 0.8rem 0;
  margin: 0 1.4rem;
  font-size: 1.5rem;
  position: relative;
  font-weight: var(--weight-semi-bold);
  cursor: pointer;
}

.header__item:before {
  content: '';
  position: absolute;
  background-color: var(--color-black);
  height: 0.2rem;
  width: 0;
  bottom: 0;
  transition: 0.3s;
  left: 50%;
  transform: translateX(-50%);

}

.header__item:hover:before {
  width: 100%;
}

/* home */
#home input[id*="slide"] {
  display: none;
}

.home__slidewrapper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.home__slidelist {
  white-space: nowrap;
  font-size: 0;
}

.home__slidelist>li {
  display: inline-block;
  vertical-align: center;
  width: 100%;
  transition: all .5s;
}

.home__slidelist>li>a {
  display: block;
  position: relative;
}

.home__slidelist>li>a img {
  width: 100%;
}

.home__slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 100% 10%;
  cursor: pointer;
}

.home__slideBtn-left {
  left: 0px;
}

.home__slideBtn-right {
  right: 0px;
}

#home [id="slide01"]:checked~.home__slidewrapper .home__slidelist>li {
  transform: translateX(0%);
}

#home [id="slide02"]:checked~.home__slidewrapper .home__slidelist>li {
  transform: translateX(-100%);
}

#home [id="slide03"]:checked~.home__slidewrapper .home__slidelist>li {
  transform: translateX(-200%);
}

/* price */
#price {
  background-color: black;
}

.price__title {
  color: var(--color-white);
}

.price__description {
  text-align: center;
  color: var(--color-white);
}

.description__cut {
  font-size: 2rem;
  line-height: 3.5rem;
}

.description__policy {
  font-size: 1.6rem;
}

/* contact */
.contact__explanation {
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 2.4rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container__call,
.container__kakao-talk {
  /* display: block; */
  width: 25rem;
  margin: 1.2rem 0;
}

.call__image-wrapper,
.kakao-talk__image-wrapper {
  text-align: center;
}

.call__image,
.kakao-talk__image {
  width: 50%;
  min-width: 5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.call__title,
.kakao-talk__title {
  display: block;
  padding: 1.5rem 0;
  font-size: 2rem;
  text-align: center;
}

.call__description,
.kakao-talk__description {
  width: 75%;
  border-top: 0.2rem solid black;
  padding-top: 1.5rem;
  margin: 0 auto;
  font-size: 1.6rem;
}